


body{
    background: seashell;
    
}

#category-list{
    display: grid;
    grid-template-columns: repeat(8,1fr);

    
}



.catogory-list-item{
    
    padding: 10px;
    
}
.catogory-list-item:hover{
    background: rgba(159, 70, 243, 0.226);
    color: blueviolet;
}


li{
    list-style: none;
    cursor: pointer;
    
    text-align: center;
    transition: all 4s ease;
    padding: 3px 0;
    
}
.my-brand{
    font-size: 2rem;
    font-weight: 800;
}
.my-brand span {
    font-size: 1.4rem;
    color: blueviolet;
}


.nav-img{
    width: 50px;
    
    border-radius: 50%;
}

.news{
    background: rgba(235, 235, 235, 0.644);
    margin-bottom: 20px;
}

.news-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
.author{
    display: flex;

    align-items: center;
}
.view{
    display: flex;
    align-items: center;

    
}
.author-img{
    width: 40px;
    border-radius: 50%;
}
.details{
    color: rgb(137, 43, 226);
    font-size: 20px;
    letter-spacing: 0.8px;
    cursor: pointer;

}
.color-text{
    color: blueviolet;
}
.modal-btn{
    background: rgba(137, 43, 226, 0.411);
}
.spinner-1{
    color: rgba(137, 43, 226, 0.212);
}
.spinner-2{
    color: rgba(137, 43, 226, 0.514);
}
.spinner-3{
    color: blueviolet;
}

@media screen and (max-width:992px){
  
    #category-list{
        
        grid-template-columns: repeat(3,1fr);
        
    }
}

@media screen and (max-width:576px){
   
    #category-list{
        
        grid-template-columns: repeat(1,1fr);
        
    }
    .news-footer{
        flex-direction: column;
    }
} 
